resources
S001a
S001b
S001c
__pycache__
cache
resnet

# Ignore hidden files
*.DS_Store
*.pyc
*.ipynb
*.GIBMsBMLabServer
nohup.out
\.Readme\.txt\.swp
benchmark/cache_S002a_10000files/train/
*.local

*.MBP15-3

*.BMLabGPU

*.Rhistory
