resources
S001a
S001b
S001c
__pycache__
cache
resnet

# Ignore hidden files
*.DS_Store
*.pyc
*.ipynb
*.GIBMsBMLabServer
nohup.out
\.Readme\.txt\.swp
*.local
*.MBP15-3
*.BMLabGPU
*.Rhistory

# Ignore specific dirs
benchmark/cache_S002a_10000files/train/
benchmark/S002a/
benchmark/test_on_human_data/data


*.pdf#

*.csv#

benchmark/test_on_human_data/data/

*.json
